body {
    margin: 0;
    padding: 0;
    background: #000 url(stars.png) repeat top center;
    z-index: 0;
}

.sky {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.moon {
    position: absolute;
    z-index: 3;
    background-image: url(moon.png);
    background-repeat: no-repeat;
    background-size: 150px;
    height: 150px;
    width: 150px;
    opacity: 0.5;
    border-radius: 100px;
    filter: blur(0.5px);
}

.moonshadow {
    z-index: 2;
    height: 150px;
    width: 150px;
    background-color: black;
    background-repeat: no-repeat;
    border-radius: 100px;
    opacity: 1;
    animation: shadow 8s ease-in-out infinite;
}

@keyframes shadow {
    50% { box-shadow: 0 0 30px rgb(225 225 225 / 30%) }
  }

.shiny {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.shiny {
  background: transparent url(shiny.png) repeat top center;
  z-index: 1;
  animation: move-twinkle 2000s cubic-bezier(0.05, 1.04, 0.84, 1.52) infinite;
}


@keyframes move-twinkle {
    from {background-position:0 0;}
    to {background-position: -6000px 1000px;}
}